
<section class="section section-new-specification" ng-controller="newSpecificationCtrl as vm">
    <h1>{{vm.title}}</h1>

    <!--<ng-include src="stepTemplate()"></ng-include>
    <button class="btn btn-default" type="button" ng-click="previousStep()" ng-disabled="previousDisabled()">Previous</button>
    <button class="btn btn-default" type="button" ng-click="nextStep()" ng-disabled="nextDisabled()">Next</button>
    <button class="btn btn-default" type="button" ng-click="runSpecification()" ng-disabled="executeDisabled()">Execute</button>-->
</section>
